{% extends "events/layout.html" %}

{% block content %}

    <h1 class="mb-5">Events</h1>
    <!-- Upcoming Events -->
    <div class="mb-5">
        <h2 class="mb-3">Upcoming Events</h2>
        {% if events.upcoming %}
            <div class="row">
                {% for event in events.upcoming %}
                    <div class="col-12 col-md-6 col-xl-4 mb-4">
                        {% include "includes/event_card.html" %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No upcoming events available at the moment.</p>
        {% endif %}
    </div>

    <!-- Past Events -->
    <div>
        <h2 class="mb-3">Past Events</h2>
        {% if events.past %}
            <div class="row">
                {% for event in events.past %}
                    <div class="col-12 col-md-6 col-xl-4 mb-4">
                        {% include "includes/event_card.html" %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No past events available at the moment.</p>
        {% endif %}
    </div>

{% endblock %}