{% extends "events/layout.html" %}

{% block content %}

<h1>{% if event %}Edit Event: {{ event.title }}{% else %}Create Event{% endif %}</h1>
    <form method="post" action="{% if event %}{% url 'event_edit' pk=event.pk %}{% else %}{% url 'event_create' %}{% endif %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if event %}Update Event{% else %}Create Event{% endif %}</button>
    </form>
    <a href="{% url 'event_list' %}">Back to Events List</a>

{% endblock %}