{% extends "events/layout.html" %}
{% load widget_tweaks custom_widget_tweaks %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card mg-card px-3">
            <div class="card-body">
                <h2 class="card-title">{% if event %}Edit event: {{ event.title }}{% else %}Create Event{% endif %}</h2>
                <form method="post" action="{% if event %}{% url 'event_edit' pk=event.pk %}{% else %}{% url 'event_create' %}{% endif %}">
                    {% csrf_token %}
                    
                    <div class="mb-3 text-start">
                        <label for="{{ form.title.id_for_label }}" class="form-label">Name</label>
                        {{ form.title|add_class:"form-control" }}
                    </div>
                    <div class="mb-3 text-start">
                        <label for="{{ form.date.id_for_label }}" class="form-label">Date</label>
                        {{ form.date|add_class:"form-control" }}
                    </div>
                    <div class="mb-3 text-start">
                        <label for="{{ form.location.id_for_label }}" class="form-label">Location</label>
                        {{ form.location|add_class:"form-control" }}
                    </div>
                    <div class="mb-3 text-start">
                        <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
                        {{ form.description|add_class:"form-control" }}
                    </div>

                    <button class="btn btn-primary" type="submit">{% if event %}Update Event{% else %}Create Event{% endif %}</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}