body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #212529;
  color: #dee2e6;
  min-height: 100vh;
}

.nav-link {
  text-decoration: none;
  color: #dee2e6;
}
.nav-link:hover {
  color: #979ea5;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: #161616;
}

.is-invalid {
  border-color: #dc3545;
}

.invalid-alert {
  color: red;
  font-size: 80%;
  margin-top: 0.25rem;
}

.event-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.event-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.event-card h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.event-card p {
  margin: 10px 0;
}

.event-card form {
  margin-top: 10px;
}

.event-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.event-card button:hover {
  background-color: #0056b3;
}

.alert {
  width: fit-content;
}

.event-info {
  margin: 15px 0;
}

.event-info.inactive {
  color: #6c757d;
}

.task {
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #33363a;
}

.btn-no-bg {
  background: none;
  margin: 0;
  cursor: pointer;
}

.rsvp-list-item {
  background-color: #33363a;
  border: 1px solid #ddd;
  color: #dee2e6;
}

.chat-warning {
  background-color: #ffe6e6;
  color: #d9534f;
  padding: 10px;
  border: 1px solid #d9534f;
  border-radius: 5px;
  margin-bottom: 10px;
}
.chat-container {
  display: none;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f9fa;
}
.chat-container.active {
  display: block;
}
.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 10px;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-height: 400px;
  overflow-y: auto;
}
.messages p {
  margin: 0;
}
.message-input textarea {
  resize: none;
}

.message-bubble {
  min-width: 50px;
  max-width: 70%; /* Optional: Limit the width for longer messages */
  word-wrap: break-word; /* Ensures text wraps within the bubble */
  padding: 10px;
  border-radius: 20px;
}
.message-sender {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  text-align: right;
}
.message-receiver {
  background-color: #6c757d; /* Bootstrap secondary color */
  color: white;
}
