:root {
  --primary-bg: #212529;
  --primary-text: #dee2e6;
  --secondary-bg: #33363a;
  --border-color: #ddd;
  --warning-bg: #ffc10721;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Main content grows, footer stays fixed */
  min-height: 100vh; /* Full viewport height */
}

.main {
  padding: 20px;
}

.navbar {
  border-bottom: 1px solid var(--border-color);
}

.navbar-brand {
  padding: 10px;
}

.navbar-brand,
.event-card,
.mg-card,
.task {
  border: 1px solid var(--border-color);
}

.nav-item:hover {
  color: #8e8e8f;
}

#maybe-badge {
  background-color: #ffffff9f;
  font-size: 10px;
}

.container {
  overflow: hidden;
  box-sizing: border-box;
}

.footer {
  margin-top: 30px;
  font-size: 15px;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-top: 1px solid var(--border-color);
}

.mg-card {
  box-shadow: 0 4px 20px rgba(104, 103, 103, 0.3);
  width: 50%;
  text-align: center;
  background: transparent;
  color: var(--primary-text);
  border: 1px solid var(--border-color);
}

.w-card {
  width: 75%;
}

.event-card,
.task {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.event-card {
  max-width: 400px;
  background-color: var(--secondary-bg);
}

.status-maybe {
  background-color: var(--warning-bg);
}

.task {
  background-color: transparent;
}

.task-event-title {
  font-size: larger;
  font-weight: bold;
  color: var(--primary-text);
  cursor: pointer;
}

.bi-exclamation-diamond {
  color: #ffc107;
  font-size: 30px;
}

select.form-control {
  background-image: none !important;
  -webkit-appearance: menulist;
  appearance: menulist;
}

.is-invalid {
  border-color: #dc3545;
}

.invalid-alert {
  color: red;
  font-size: 80%;
  margin-top: 0.25rem;
}

.alert {
  width: fit-content;
}

.event-info {
  margin: 15px 0;
}

.event-info.inactive {
  color: #6c757d;
}

.modal-content {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
}

.btn-no-bg {
  background: none;
  margin: 0;
  cursor: pointer;
}

.rsvp-list-item,
.chat-tab {
  background-color: var(--secondary-bg);
  border: 1px solid var(--border-color);
  color: var(--primary-text);
}

.chat-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.chat-tab.active {
  background-color: var(--primary-text);
  color: black;
}

.chat-warning {
  background-color: #ffe6e6;
  color: #d9534f;
  padding: 10px;
  border: 1px solid #d9534f;
  border-radius: 5px;
  margin-bottom: 10px;
}
.chat-container {
  display: none;
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}
.chat-container.active {
  display: block;
}
.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 10px;
  background: transparent;
  color: var(--primary-text);
  max-height: 400px;
  overflow-y: auto;
}

.msg-user-name {
  font-weight: bold;
  letter-spacing: 1px;
}

.messages p {
  margin: 0;
}

.message-input {
  display: flex;
  align-items: stretch;
}

.message-input textarea {
  flex: 1;
  height: auto;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
}

.message-input button {
  height: auto;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
}

.message-bubble {
  min-width: 50px;
  max-width: 70%;
  word-wrap: break-word;
  padding: 10px;
  border-radius: 20px;
}
.message-sender {
  background-color: #6c757d;
  color: var(--primary-text);
  text-align: right;
}
.message-receiver {
  background-color: #007bff;
  color: var(--primary-text);
}

@media screen and (max-width: 992px) {
  .mg-card,
  .w-card {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .event-card {
    max-width: 100%;
  }
}
